/* 青橄榄公用样式 */
/* 主题色 */
/* 辅色 */
/* 边框色 */
/* 边框 */
.border-top {
  border-top: 1px solid #e6e6e6;
}
.border-right {
  border-right: 1px solid #e6e6e6;
}
.border-bottom {
  border-bottom: 1px solid #e6e6e6;
}
.border-left {
  border-left: 1px solid #e6e6e6;
}
.font-bold {
  font-family: PingFangSC-Bold;
}
.font-regular {
  font-family: PingFang SC-Regular;
}
.font-medium {
  font-family: PingFang SC-Medium;
}
.font-semibold {
  font-family: PingFangSC-semibold;
}
.wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  padding: 0 30px 20px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}
.scroll {
  overflow-y: auto;
}
.padding-lr-30 {
  padding-left: 30px;
  padding-right: 30px;
}
.padding-lr-0 {
  padding-left: 0;
  padding-right: 0;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.flex-dir {
  flex-direction: column;
}
.flex-just {
  justify-content: space-around;
}
.flex-1 {
  flex: 1;
}
.text-center {
  text-align: center;
}
.footer {
  font-size: 24px;
  color: #666;
  text-align: center;
}
.height-100 {
  height: 100%;
}
